body{
    background:-webkit-radial-gradient(rgb(1, 40, 1),rgb(9, 62, 21),rgb(1,40,1));
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
}

header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

header>h1{
    font-size: 100px;
}

#Nombre{
    text-decoration: underline;
    padding-left: 10%;
}

.reglas{
    margin-top: 1%;
    display: flex;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

.reglas div{
    flex: 1;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px 20px;
    text-align: center;
    padding: 1%;
}
.number{
    width: 80px;
}

.buttonindex{
    background-color: rgb(44, 44, 255);
    color:white;
    border-color: black;
    margin: 2% 40%;
    width: 200px;
    border-style: solid;
    font-size: 40px;
}

#jugadores{
    display: flex;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    overflow: scroll;
}

#jugadores label{
    flex: 1;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px 20px;
    text-align: center;
    padding: 20px;
}
#jugadores > label{
    min-width: 200px;
}


.corner{
    width:100px; height:100px;
    font-size: 14px;
}

#buttonPlay{
    background-color: rgb(44, 44, 255);
    color:white;
    width: 100px;
    height: 100px;
    font-size: 60px;
    padding: 0%;
}

.fichaH{
    background-color: black;
    width: 100px;
    height: 50px;
    display: flex;
    margin-top: 5%;
    padding: 0.8%;
}

.fichaH>div{
    margin: 5%;
    flex: 1;
    background-color: white;
    color: black;
    font-size: 8px;
    flex-direction: column;
}

.fichaV{
    background-color: black;
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 0.8%;
}

.fichaV>div{
    margin: 5%;
    flex: 1;
    background-color: white;
    color: black;
    font-size: 8px;
    display: inline;
}

.columna{
    flex:1; 
    flex-direction:column;
    align-items: center;
}

.columna >div{
    margin-bottom: 2%;
}
.ManoHorizontal{
    width: 800px;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
}

.ManoHorizontal div{
    margin: 0.5%;
}

#resumen>div{
    display: flex;
}

#resumen>div>div{
    align-items: center;
    justify-content:center;
    flex: 1;
    display: flex;
    border: solid;
    border-radius: 20px;
    padding: 3%;
}

#resumen p{
    font-size: 50px;
    margin-right: 20px;
}

.JuegoTerminado{
    text-align: center; 
    font-size:100px; 
    text-decoration:underline; 
    margin:5%;
}

#aaa{
    align-items:center; 
    width:800px;
    justify-content:center;
}