body{
    background:-webkit-radial-gradient(rgb(1, 40, 1),rgb(9, 62, 21),rgb(1,40,1));
    background-size: contain;
    background-repeat: no-repeat;
    color:white;
}

.NavLink{
    color: white;
    text-decoration: none;
}

header{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}

header>h1{
    font-size: 100px;
}

#Nombre{
    text-decoration: underline;
    padding-left: 10%;
}

.reglas{
    margin-top: 1%;
    display: flex;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

.reglas div{
    flex: 1;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px 20px;
    text-align: center;
    padding: 1%;
}
.number{
    width: 80px;
}

.buttonindex{
    background-color: rgb(44, 44, 255);
    color:white;
    border-color: black;
    margin: 2% 40%;
    width: 200px;
    border-style: solid;
    font-size: 40px;
}

#jugadores{
    display: flex;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    height: 480px;
}

#jugadores label{
    flex: 1;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    font-size: 20px;
    margin: 20px 20px;
    text-align: center;
    padding: 20px;
}
#jugadores > label{
    min-width: 200px;
    overflow-y:scroll;
}


.corner{
    height:130px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:5px;
}

.corner button{
    background-color: rgb(44, 44, 255);
    color:white;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.corner h3{
    margin-top: 20px;
}

.fichaH{
    background-color: black;
    width: 100px;
    height: 50px;
    display: flex;
    margin-top: 5%;
    padding: 4px;
    align-items: stretch;
    justify-content: space-between;
}

.fichaH div{
    flex: 1;
    display: flex;
}

.fichaH>div{
    background-color: white;
    color: black;
    font-size: 8px;
    flex-direction: column;
    margin: 0px 1px;
    justify-content: space-between;
    text-align: center;
}

.fichaV{
    background-color: black;
    width: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: stretch;
    justify-content: space-between;
}


.fichaV div{
    flex: 1;
    display: flex;
}

.fichaV>div{
    background-color: white;
    color: black;
    font-size: 8px; 
    flex-direction:column;
    margin: 1px 0px;
    justify-content: space-between;
    text-align: center;
}


.columna{
    flex:1; 
    flex-direction:column;
    align-items: center;
}

.columna >div{
    margin-bottom: 2%;
}

.ManoVertical{
    height: 500px; 
    overflow-y: scroll;
    align-items: center;
}

.ManoHorizontal{
    width: 1100px;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    height: 130px;
}

.ManoHorizontal div{
    margin: 0.6%;
}

#mesa{
    height: 520px;
    align-items:stretch; 
    display:flex; 
    overflow-x:scroll; 
    justify-content:center;
}

#mesa > div{
    margin: 0%; 
    padding: 0.2%;  
    align-self:center;
    margin: 0%;
    padding: 0.2%;
    align-self:center;
}


#salir{
    position: absolute; 
    top:33%; 
    left:33%; 
    border:solid white;
}
#salir h1{
    text-align: center;
    margin: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#salir div{
    display: flex;
}
#salir button{
    font-size:100px;
    margin:40px; 
    width: 160px;
    color: white;
}

#resumen>div{
    display: flex;
}

#resumen>div>div{
    align-items: center;
    justify-content:center;
    flex: 1;
    display: flex;
    border: solid;
    border-radius: 20px;
    padding: 3%;
}
#resumen p{
    font-size: 50px;
    margin-right: 20px;
}

.Final{
    display: flex;
    margin:5%;
    margin-bottom:0%;
    align-items:center; 
    justify-content: center;
}
.Final>div{
    text-align:center;
    flex:1;
    align-items:center; 
    justify-content: center;
    margin-bottom: 1%;
}
.Final p{
    font-size: 40px;
}

.JuegoTerminado{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    font-size:100px; 
    text-decoration:underline; 
    margin:5%;
}

#aaa{
    align-items:center; 
    width:800px;
    justify-content:center;
}